#### DATA FILES
**/*.csv
**/*.json
**/data*

#### TEST FILES
test/

#### JUPYTER NOTEBOOKS FILES
**/*.ipynb_checkpoints

#### ENVIRONMENT FILES
*.env*
.my_env/*
env_local.bashrc
env_main*


#### CREDENTIALS
credentials.txt
__pycache__

#### Terraform
terraform/.terraform*
terraform/terraform*

