#### DATA FILES
**/*.csv
**/*.json
**/data*

#### TEST FILES
test/

#### JUPYTER NOTEBOOKS FILES
**/*.ipynb_checkpoints

#### ENVIRONMENT FILES
*.env*
.my_env/*
env_local.bashrc
env_main*
env_variables.sh


#### CREDENTIALS
credentials.txt
__pycache__

#### Terraform
terraform/.terraform.tfstate.backup
terraform/.terraform.tfstate
terraform/.terraform.lock.hcl
terraform/.terraform/
terraform/terraform*

##### dbt
.user*

##### logs
logs/*